<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.adjoamaison.cuisine"
		versionCode = "11"
		version = "1.0.0">
		<!-- versionCode is optional and Android only -->
		<name>Cuisine</name>
		<description>
			Your Digital Online Recipe Book
		</description>
		<author href="http://www.ashesi.edu.gh" email="adjoa.maison@gmail.com">
			Adjoa Maison
		</author>
		<plugin name="cordova-plugin-camera" spec="1.2.0" source="pgb" />
		<icon src="img/cuisine.png"/>
		<gap:splash src ="splash.png"/>
		<gap:plugin name="cordova-plugin-whitelist" source="npm" />
		<allow-navigation href="*" />
		<allow-intent href="*" />
		<access origin="*" />
	</widget>